.bg-light {
    background: unset !important;
    background-color: black !important;
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover {
    color: white !important;
}
.badge {color: #000}
