<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-md-2 d-table my-auto basket-close-item" data-number="358">
        <img src="http://darband.local/MostafaSharami09360170678/resources/assets/home/img/header/Icon ionic-ios-close-circle-outline.png" alt="" class="d-table mx-auto" width="60%">
    </div>

    <!--========================================================-->

    <div class="col-md-2 d-table my-auto basket-close-item" data-number="10">
        <img src="http://darband.local/MostafaSharami09360170678/resources/assets/home/img/header/Icon ionic-ios-close-circle-outline.png" alt="" class="d-table mx-auto" width="60%">
    </div>
</body>
</html>
